
config MTK_MN27913
	bool "epl25905 for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor MN27913.
